body {
  padding: 0px !important;
}
.home {
  height: 80vh;
  background-color: rgb(146, 87, 20) !important;
}
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

a {
  text-decoration: none;
  color: blue;
}
body {
  word-wrap: break-word !important;
  background-size: cover;
  background-attachment: fixed;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fp {
  display: flex;
  align-items: center;
}
.fc {
  justify-self: center;
}
.mzpz {
  margin: 0px;
  padding: 0px;
}
.zp {
  padding: 0px;
  word-wrap: break-word !important;
}
.cbodytext {
  word-wrap: break-word !important;
}
.card {
  border-radius: 0 !important;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.pt {
  font-size: 100%;
}

@media only screen and (max-width: 600px) {
  .pt {
    font-size: 60%;
  }
}
