body {
  padding: 0px !important;
}
.ft {
  /* background-color: azure !important; */
}

#about {
  color: white;
  font-size: 1.1em;
  background-color: rgb(73, 141, 10) !important;
}
#videos {
  background: linear-gradient(rgba(218, 234, 165, 0.3), rgba(218, 234, 165, 0.3)), url('../img/sunflower.jpg') no-repeat;
  background-size: cover;
  background-position: right bottom;
}
.btngrp_langs {
  border: 1px solid black !important;
  box-shadow: none !important;
}
.title_portion {
  color: white !important;
}

#contact {
  min-height: 35vh !important;
  /* background-color: rgba(97, 172, 27, 1) !important; */
}
a {
  text-decoration: none;
  color: inherit !important;
}
body {
  word-wrap: break-word !important;
  background-size: cover;
  background-attachment: fixed;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fcc {
}
@media only screen and (max-width: 1199px) {
  .fcc {
    margin: 5px;
  }
  /* .fop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  } */
}
.fp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fc {
  justify-self: center;
}
.mzpz {
  margin: 0px;
  padding: 0px;
}
.zp {
  padding: 0px;
  word-wrap: break-word !important;
}
.zm {
  margin: 0 !important;
}
.cbodytext {
  word-wrap: break-word !important;
}
.card {
  border-radius: 0 !important;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.pt {
  font-size: 100%;
}

@media only screen and (max-width: 600px) {
  .pt {
    font-size: 60%;
  }
}

.vid_captions {
  font-size: 0.9em;
}
.kahi {
  font-size: 0.9em;
}

@media (max-width: 1200px) {
  /* .vid_captions {
    font-size: .8em;
  }
  .kahi {
    font-size: .8em;
  } */
}
/* @media (max-width: 992px) {
  .vid_captions {
    font-size: 1.2em;
  }
  .kahi {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .vid_captions {
    font-size: 1.4em;
  }
  .kahi {
    font-size: 1.6em;
  }
}

@media (max-width: 576px) {
  .vid_captions {
    font-size: 1em;
  }
  .kahi {
    font-size: 1.2em;
  }
} */
@media (max-width: 400px) {
  .vid_captions {
    font-size: 0.9em;
  }
  .kahi {
    font-size: 1.1em;
  }
}

@media (max-width: 380px) {
  .vid_captions {
    font-size: 0.65em;
  }
  .kahi {
    font-size: 0.8em;
  }
}

.agdt {
  font-size: 1em;
}

@media (max-width: 847px) {
  .agdt {
    font-size: 0.85em !important;
  }
}
@media (max-width: 765px) {
  .agdt {
    font-size: 1em !important;
  }
}
@media (max-width: 687px) {
  .agdt {
    font-size: 0.85em !important;
  }
}

@media (max-width: 567px) {
  .agdt {
    font-size: 1em;
  }
}

.tdtxt {
  padding: 5px;
  text-align: left;
}
