a {
  text-decoration: none;
  color: blue;
}
body {
  word-wrap: break-word !important;
  background-size: cover;
  background-attachment: fixed;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fp {
  display: flex;
  align-items: center;
}
.fc {
  justify-self: center;
}
.mzpz {
  margin: 0px;
  padding: 0px;
}
.zp {
  padding: 0px;
  word-wrap: break-word !important;
}
.cbodytext {
  word-wrap: break-word !important;
}
.card {
  border-radius: 0 !important;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.pt {
  font-size: 100%;
}

@media only screen and (max-width: 600px) {
  .pt {
    font-size: 60%;
  }
}
